{% extends "base.html" %}


{% block title %} HomeWork | {{block.super}} {% endblock %}

{% block content %}

    <h2>Homework Tracker</h2>

    <h4>Course</h4>
    <select name="section_list" id="sel" onchange="chageLangSelect()" >
        <option>Select section</option>
        {% for s in section_list %}
            <option value="{{s.course_id}}">{{s}}</option>
        {% endfor %}
    </select>

    <h4>pre-class Number</h4>
    <select name="hw_list" id="hw_list">

    </select>

    <button type="button" id="btn_show">Check</button>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        function chageLangSelect(){            
            // fetch homework list corresponding to sectoin & course
            var sel = document.getElementById("sel");
            var hw_no = sel.options[sel.selectedIndex].value;

            fetch("api/v1/homework/list/"+hw_no) 
            .then(function(response){
                return response.json();
            })
            .then(function(res){
                // Add homework list to hw_list 
                var hw_list = document.getElementById("hw_list");
                ress = JSON.parse(res)

                hw_list.innerHTML = '';
                $.each(ress, function(key, value){

                    var x = document.createElement("OPTION");
                    x.setAttribute("value", value["pk"]);
                    var t = document.createTextNode(value["fields"]["title"]);
                    x.appendChild(t);
                    hw_list.appendChild(x);
                });
            });
        }

        $("#btn_show").click(function() {
            // fetch student info & homework time  
            
            
        
        });

    </script>

{% endblock %}