table {
  font-size:23px;
  font-weight: 100;
  vertical-align:middle;
  border:none;
}

.table-inner {
  background: white;
  border:none;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  padding:5px;
  width: 250px;
}

td {
  width:250px;
  background:#FFFFFF;
  padding:20px;
  text-align: center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-top: 1px solid #C1C3D1;
  border-color:#FFFFFF;
}

tr{
  text-align: middle;
}


th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
